<p id="notice"><%= notice %></p>

<%= nested_form_for(@question, html: { role: 'form' }) do |f| %>
  <%= render 'shared/errors', :resource => @question %>
  <div class="masonry-item col-md-12" style="">
    <div class="bgc-white p-20 bd">
      <h6 class="c-grey-900">Nome do Questionário</h6>
      <div class="form-group">
        <%= f.text_field :name, class: "form-control  btn-lg", placeholder: "Nome do Questionário" %>
        <small id="emailHelp" class="form-text text-muted">Este nome será pública a todos que forem responder</small>
      </div>

      <div class="form-group">
        <%= f.text_area :description, class: "form-control  btn-lg", placeholder: "Descritivo sobre o questionário" %>
        <small id="emailHelp" class="form-text text-muted">Esta descrição será será pública a todos que forem responder</small>
      </div>

    </div>
  </div>

  <br>
  <div class="masonry-item col-md-12">
    <div class="bgc-white p-20 bd">
      <h6 class="c-grey-900">Adicionar Perguntas</h6>
      <%= f.fields_for :asks do |d| %>
        <%= render "questions/ask", { f: f, d: d } %>
      <% end %>
      <div class='form-group'>
        <%= f.link_to_add raw("<i class='fa fa-question'> </i> Adicionar Pergunta"), :asks,  class:"btn cur-p btn-primary" %>
      </div>
  </div>

  <br>
  <div class="col-sm-10">
    <button type="submit" class='btn btn-success'>Salvar Questionário</button></div>
  </div>
  <br>
<% end %>

<!--<div class="masonry-item col-md-12">
  <div class="bgc-white p-20 bd">

  </div>

  <br>
</div>-->
