<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @question.company %>
</p>

<p>
  <strong>Name:</strong>
  <%= @question.name %>
</p>

<p>
  <strong>Open:</strong>
  <%= @question.open %>
</p>

<p>
  <strong>Type:</strong>
  <%= @question.type %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
