<p id="notice"><%= notice %></p>
<h1 class="text-center c-grey-900 mB-5"><%= @question.name %></h1>
<h6 class="text-center">"<%= @question.description %>"</h6>


<br><hr><br>
<%- @question.asks.each_with_index do |ask, index| %>
  <div class="">
    <h5><%= "#{index + 1}a #{ask.description}" %></h5>
    <strong> Opções: </strong>
    <%- ask.options.each do |option| %>
      <div class='mL-30 checkbox checkbox-circle checkbox-info peers ai-c'>
        <label for="inputCall1" class="peers peer-greed js-sb ai-c">
          <span class="peer peer-greed">
            <%= option.description %> | Peso: <strong> <%= option.weight %> </strong>        
          </span>
        </label>
      </div>
    <% end %>
  </div>
<% end %>
<%= link_to 'Responder Questionário', edit_question_path(@question), class: 'btn btn-primary'%> |
