
  <p id="notice"><%= notice %></p>
  <div class="mT-30">
  <%= form_for(@employee) do |f| %>
    <%= render 'shared/errors', :resource => @employee %>
    <div class='masonry-item col-md-6'>
      <div class="form-group row">
        <%= f.label :name, class:"col-sm-2 col-form-label"%><br>
        <div class="col-sm-10">
          <%= f.text_field :name, class: "form-control", placeholder: 'Nome do Usuário'%>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :email, class:"col-sm-2 col-form-label"%><br>
        <div class="col-sm-10">
          <%= f.text_field :email, class: "form-control", placeholder: 'Email do Usuário'%>
        </div>
      </div>
    </div>
    
    <div class='masonry-item col-md-6'>
      <div class="form-group row">
        <%= f.label :email, class:"col-sm-2 col-form-label"%><br>
        <div class="form-check">          
          <label class="form-check-label">
            <%= f.radio_button :sex, value: 'f', class: "form-check-input"%> Mulher
          </label>

          <label class="form-check-label">
            <%= f.radio_button :sex, value: 'm', class: "form-check-input"%> Homem
          </label>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :born, class:"col-sm-2 col-form-label"%><br>
        <div class="col-sm-10">
          <%= f.date_field :born, class: "form-control", placeholder: 'Data de Nascimento'%>
        </div>
      </div>
    </div>

    <div class="col-sm-10">
      <button type="submit" class='btn btn-success'>Salvar Usuário</button></div>
    </div>
  <% end %>
