
    <p id="notice"><%= notice %></p>
    <div class="row">
        <div class="col-md-12">
            <div class="bgc-white bd bdrs-3 p-20 mB-20">
                <h4 class="c-grey-900 mB-20">Usuários</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Email</th>
                            <th scope="col">Grupos</th>
                            <th scope="col">Respostas</th>
                            <th scope="col">Taxa de Abertura</th>
                            <th colspan='2'> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <%- @employees.each do |employee| %>
                        <tr>
                            <th scope="row"><%= link_to employee.id, employee%></th>
                            <td><%= employee.name %></td>
                            <td><%= employee.email %></td>
                            <td></td>
                            <td><%= 0 %></td>
                            <td><%= link_to 'Editar', edit_employee_path(employee) %></td>
                            <td><%= link_to 'Deletar', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        </tr>
                        <% end %>  
                    </tbody>
                </table>
            </div>
            <%= link_to 'Cadastrar Usuário', new_employee_path, class: 'btn btn-success' %>

        </div>
    </div>
</div>
</div>



