<p id="notice"><%= notice %></p>
<p>
  <strong> Empresa:</strong>
  <%= @sector.company.name %>
</p>

<p>
  <strong> Nome do Grupo:</strong>
  <%= @sector.name %>
</p>

<p>
  <strong> Email de Comunicação:</strong>
  <%= @sector.email %>
</p>


<%= link_to 'Editar ', edit_company_sector_path(@sector.company, @sector), class: 'btn btn-success'%> |
<%= link_to 'Voltar', company_sectors_path(@sector.company), class: 'btn btn-info'%>