
  <p id="notice"><%= notice %></p>
  <div class="mT-30">
  <%= form_for(@company) do |f| %>
    <%= render 'shared/errors', :resource => @company %>

    <div class="form-group row">
      <%= f.label :name, class:"col-sm-2 col-form-label"%><br>
      <div class="col-sm-10">
        <%= f.text_field :name, class: "form-control", placeholder: 'Nome da Empresa'%>
      </div>
    </div>

    <div class="col-sm-10">
      <button type="submit" class='btn btn-success'>Salvar Empresa</button></div>
    </div>
  <% end %>
