
    <p id="notice"><%= notice %></p>
    <div class="row">
        <div class="col-md-12">
            <div class="bgc-white bd bdrs-3 p-20 mB-20">
                <h4 class="c-grey-900 mB-20">Empresas</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Grupo de Pesquisas</th>
                            <th scope="col">Question치rios</th>
                            <th scope="col">Usu치rios</th>
                            <th colspan='2'> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <%- current_user.companies.each do |company| %>
                        <tr>
                            <th scope="row"><%= link_to company.id, company%></th>
                            <td><%= company.name %></td>
                            <td class="nav-item dropdown">
                              <a class="sidebar-link" href="<%= company_sectors_path(company) %>"><span class="icon-holder"> </span><span class="title">Grupos de Pesquisa</span></a>
                            </td>
                            <td class="nav-item dropdown">
                              <a class="sidebar-link" href="<%= company_questions_path(company) %>"><span class="icon-holder"> </span><span class="title">Question치rios</span></a>
                            </td>
                            <td class="nav-item dropdown">
                              <a class="sidebar-link" href="<%= company_employees_path(company) %>"><span class="icon-user"></span><span class="title">Usu치rios</span></a>
                            </td>
                            <td><%= link_to 'Editar', edit_company_path(company) %></td>
                            <td><%= link_to 'Deletar', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        </tr>
                        <% end %>  
                    </tbody>
                </table>
            </div>
            <%= link_to 'Cadastrar Empresa', new_company_path, class: 'btn btn-success' %>

        </div>
    </div>
</div>
</div>



